﻿@page "/counter"
@using blazoradminpanel.Services
@inject PizzaSalesState SalesState

<PageTitle>Counter</PageTitle>

<div class="main">
    <h1>Counter</h1>

    <p role="status">Current local count: @currentCount</p>

    <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

    <hr />

    <p role="status">Current global count: @SalesState.PizzasSoldToday</p>

    <button class="btn btn-danger" @onclick="IncrementGlobalCount">Click me</button>
</div>

@code {
    private int currentCount = 0;

    [Parameter]
    public int IncrementAmount {get; set; } = 1;

    private void IncrementCount()
    {
        currentCount += IncrementAmount;
    }

    private void IncrementGlobalCount() {
        SalesState.PizzasSoldToday += IncrementAmount;
    }
}
