﻿@page "/index"
@using blazoradminpanel.Services
@inject PizzaSalesState SalesState

<PageTitle>Index</PageTitle>

<div class="main">
    <h1>Hello, Jacob.</h1>

    Manage Mibusoft apps from here.

    <p>The current value of the universal counter is: @SalesState.PizzasSoldToday</p>
    <button @onclick="IncrementSales">Increase Count</button>

    <SurveyPrompt Title="How is Blazor working for you?" />

    <Counter IncrementAmount = "10" />
</div>

@code {
    private void IncrementSales() {
        SalesState.PizzasSoldToday++;
    }
}