﻿@page "/" 
@page "/pizzaspecials"
@using blazoradminpanel.Services
@using blazoradminpanel.Models
@inject PizzaService PizzaSvc
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@inject OrderState OrdState

<div class="main">
  <h1>Blazing Pizzas</h1>
  <ul class="pizza-cards">
    @if (specials != null)
    {
      @foreach (var special in specials)
      {
        <li @onclick="@(() => OrdState.ShowConfigurePizzaDialog(special))" style="background-image: url('@special.ImageUrl')">
          <div class="pizza-info">
              <span class="title">@special.Name</span>
                  @special.Description
                <span class="price">@special.GetFormattedBasePrice()</span>
          </div>
        </li>
      }
    } else {
      <p>We're finding out what pizzas are available today...</p>
    }
  </ul>
</div>
<div class="sidebar">
  @if (order.Pizzas.Any())
  {
    <div class="order-contents">
      <h2>Your order</h2>

      @foreach (var configuredPizza in order.Pizzas)
      {
        <div class="cart-item">
          <div class="title">@(configuredPizza.Size)" @configuredPizza.Special.Name</div>
          <div class="item-price">@configuredPizza.GetFormattedTotalPrice()</div>
          <a @onclick="@(() => OrdState.RemoveConfiguredPizza(configuredPizza))" class="delete-item">x</a>
        </div>
      }
    </div>
  } else {
    <div class="empty-cart">Chooose a pizza<br>to get started</div>
  }

  <div class="order-total @(order.Pizzas.Any() ? "" : "hidden")">
    Total:
    <span class="total-price">@order.GetFormattedTotalPrice()</span>
    <a href="checkout" class="@(OrdState.Order.Pizzas.Count == 0 ? "btn btn-warning disabled" : "btn btn-warning")">
      Order >
    </a>
  </div>
</div>

@if (OrdState.ShowingConfigureDialog)
{
  <ConfigurePizzaDialog Pizza="OrdState.ConfiguringPizza" OnCancel="OrdState.CancelConfigurePizzaDialog" OnConfirm="OrdState.ConfirmConfigurePizzaDialog"/>
}

@code {
  List<PizzaSpecial> specials = new List<PizzaSpecial>();
  Order order => OrdState.Order;

  protected override async Task OnInitializedAsync() {
    specials = await HttpClient.GetFromJsonAsync<List<PizzaSpecial>>(NavigationManager.BaseUri + "specials");
  }
}