﻿@page "/todo"
@using blazoradminpanel.Models

<div class="main">
    <h3>Todo (@todos.Count(todo => !todo.IsDone))</h3>

    <ul>
        @foreach (var todo in todos)
        {
            @if(todo.IsDone) {
                <li style="background-color: green;">
                    <input type="checkbox" @bind="todo.IsDone" />
                    <input @bind="todo.Title" style="background-color: green;"/> <br />
                    Created by: Jacob <br />
                    Created on: 01/10/22
                </li>
            } else {
                <li style="background-color: red;">
                    <input type="checkbox" @bind="todo.IsDone" />
                    <input @bind="todo.Title" style="background-color: red;"/> <br />
                    Created by: Jacob <br />
                    Created on: 01/10/22
                </li>
            }
            
        }
    </ul>

    <input placeholder="Something todo" @bind="newTodo" />
    <button @onclick="AddTodo">Add todo</button>
</div>

@code {
    private List<TodoItem> todos = new();
    private string? newTodo;

    private void AddTodo() {
       if(!string.IsNullOrWhiteSpace(newTodo)) {
           todos.Add(new TodoItem { Title = newTodo });
           newTodo = string.Empty;
       }
    }
}
