@inject HttpClient HttpClient
@using blazoradminpanel.Models

<div class="dialog-container">
    <div class="dialog">
        <div class="dialog-title">
            <h2>@Pizza.Special.Name</h2>
            @Pizza.Special.Description
        </div>
        <form class="dialog-body">
            <div>
                <label>Size:</label>
                <input @bind="Pizza.Size" @bind:event="oninput" type="range" min="@Pizza.MinimumSize" max="@Pizza.MaximumSize" step="1" />
                <span class="size-label">
                    @(Pizza.Size)" ($@(Pizza.GetFormattedTotalPrice()))
                </span>
            </div>
        </form>
        <div class="dialog-buttons">
            <button @onclick="OnCancel" class="btn btn-success ml-auto">Cancel</button>
            <span class="mr-center">
                Price: <span class="price">@(Pizza.GetFormattedTotalPrice())</span>
            </span>
            <button @onclick="OnConfirm" class="btn btn-success ml-auto">Order ></button>
        </div>
    </div>
</div>

@code {
    [Parameter] public Pizza? Pizza { get; set; }
    [Parameter] public EventCallback OnCancel { get; set; }
    [Parameter] public EventCallback OnConfirm { get; set; }
}